OPENAI_API_KEY="sk-prueba-local"
MONGO_URI="mongodb://localhost:27017/marcuss_bot_local"
DEFAULT_BOT_CLIENT_MASTER_ID='master_user_01'
MONGO_DB_URI_INSTAGRAM="mongodb://localhost:27017/marcuss_bot_local"
PROMPT_ID="prompt_default_01"
URL_BASE_API_BCV='https://pydolarvenezuela-api.com/'
AGENTE_VENTAS_NAME='424-3522065'
AGENTE_VENTAS_PHONE='424-3522065'
AGENTE_VENTAS_PHONE_2='424-3522065'
AGENTE_CEO_NAME='424-3522065'
AGENTE_CEO_PHONE='424-3522065'
PUBLIC_URL='http://localhost:3000'
#gcs
# GCS_BUCKET_NAME=
#Local: 
# GOOGLE_APPLICATION_CREDENTIALS=
#Producción
# GCP_CREDENTIALS_JSON=